# Temporary files
tmp/

# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binary executables
cmd/devserver/devserver

# Test binaries
*.test

# Go workspace file
go.work
go.work.sum

coverage.out

# OS specific files
.DS_Store
Thumbs.db